
@{
    ViewBag.Title = "Egypt";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

@section scripts {
   
}


<h2>Egypt</h2>

Египет
Египет – президентско–парламентская республика, расположенная в северо–восточной части Африки и на Синайском полуострове Азии. Омывается Средиземным и Красными морями, которые соединены Суэцким каналом.

Достопримечательности Египта
Основными достопримечательностями являются древнеегипетские некрополи: Долина Царей и Цариц в Луксоре, пирамиды Гизы, гробницы знати; храмы фараонов в Луксоре и Абу – Симбеле; исламский и Старый Каир.
Города и курорты Египта
В Египте активно развивается туризм. Строятся и модернизируются целые курортные комплексы на морском побережье. Самые известные из них – Хургада и Шарм Эль Шейх.
Хургада – лучший туристический курорт страны, с населением более 200 тыс. человек. Здесь можно найти отель на любой вкус. Прекрасные пляжи, самые чистые лагуны для дайвинга, сафари в пустыне не оставят Вас равнодушными.
Шарм Эль Шейх – неповторимый по своей красоте курорт. Бесподобные равнины, окруженные горами, чистый воздух, море – создают великолепное впечатление. Коралловые рифы Шарм Эль Шейха– идеальное место для дайвинга.
Крупнейший город континента, воплощение культурного наследия древнейшей цивилизации, «Ворота Востока», столица Египта – Каир – поражает разнообразием и красотой. Здесь Вы можете полюбоваться знаменитым Сфинксом, мечетью Мухаммеда Али, посетить цитадель Саладдина, Египетский музей, старейший арабский университет Аль Азар. Музей парфюмерии удивит уникальностью и разнообразием ароматов.
Александрия – второй по величине город – курорт страны – находится на Средиземноморском побережье. Долгое время город был экономическим, культурным центром Восточного Средиземноморья. Привлекательна Александрия, в первую очередь, благодаря форту Кайт – Бейт, где находится одно из семи чудес света: 150-ти метровый маяк и статуя Посейдона.
Кроме перечисленных курортных гигантов, в Египет еще немало относительно молодых и не менее привлекательных курортов: Дахаб – «Восточный Амстердам», курортный город с множеством кафе, ресторанов, дискотек, прекрасных мест для дайвинга; Марса Алам – курорт активно развивающий инфраструктуру для любителей дайвинга.
Обязательным местом в маршруте по Египту, должен быть Луксор (называемый ранее греками - Фивы). Здесь находиться самый большой в мире музей под открытым небом (Карнакский храм).
Сувениры/покупки
В Египте Вы можете приобрести различные сувениры: изделия из серебра, золота, полудрагоценных металлов, кальяны, шахматные доски, изделия из хлопка и шелка, духи, пряности, ароматические масла, изделия из шкур кобры, крокодила и многое другое. Не забывайте, что в Египте как, впрочем, и везде на Востоке любят торговаться. Поэтому смело предлагайте свою цену, и чем настойчивее Вы будете это делать тем большее уважение проявит продавец и обязательно уступит в цене.

Полезные телефоны и адреса
Представительства страны на территории Украины
Посольство Египта в Киеве
Адрес: ул. Обсерваторная, д. 19
Киев, Украина
Тел.: + 38(044) 216 –94-28
Факс: +38(044) 216-94-28
Е-mail: eg.emb_kiev@mfa.gov.eg
Украинские представители страны
Посольство Украины в Египте
Маади ул.83, д. 50
Каир, Египет
Тел.: + 10-20 (2) 378-68-70, 378-68-71
Факс: + 10-20 (2) 378-68-73
Е-mail: emb_eg@mfa.gov.ua, victorm@starnet.com.eg, vlost@eis.com.eg
10-20 (2) 378-68-7
Экстренные телефоны
Туристическая полиция - 126
Скорая помощь – 123
Полиция – 122
Пожарная служба – 180
Справочная служба – 140
Маршрутные такси аэропорта Каира – 19970

